body {
    position: absolute;
    background-color: beige;

    width: 100%;
    height: 100%;
    margin: 0;

    display: flex;
}

h1 {
    color: chocolate;
}

p {
    color: black;
}

.alert-success {
    position: absolute;
    color: navy;
    background-color: greenyellow;

    width: 100%;
    height: 10%;

    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert-fail {
    position: absolute;
    color: beige;
    background-color: brown;

    width: 100%;
    height: 10%;
    
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}