{% extends 'base.html' %}
{% block body %}

{% with alerts = get_flashed_messages(with_categories=true) %}
    {% if alerts %}
        {% for category, alert in alerts%}
            <div class="alert-{{ category }}">
                {{ alert }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="landing-welcome">    
    <h1>Welcome!</h1><br>
    <span id="data-placeholder"></span>
    <span id="sample-component"></span>
</div>

<div class="user-column">
    <h1>Login</h1><br>

    <form class="user-form" method="post" action="{{ url_for('authentication') }}">
        {{ loginForm.hidden_tag() }}
        <span>
            {{ loginForm.userLoginEmail.label }}
            {{ loginForm.userLoginEmail }}
        </span>

        <span class="form-button">
            {{ loginForm.login }}
        </span>
    </form>
</div>

<script src="{{url_for('static', filename='bundle.js')}}"></script>
<script src="{{url_for('static', filename='script.js')}}"></script>

{% endblock %}